head body {
    height:100%;
}

.navbar-brand {
    padding-top: 25px;
  }
  .navbar-brand h1 {
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    font-size: 3em;
    text-shadow: 1px 1px 1px #222;
    margin-top: 10%;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  .navbar-brand p { 
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
  }
  .navbar-brand p span { 
    vertical-align: middle;
  }
  
  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #951C49;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }

  .navbar-default{
    background-color:rgb(186, 44, 44);
  }
  .tallsection {
    background-color:rgb(204, 234, 204);
    height: 1000px;
    padding: 5%; 
  }


.navbar{
    height:100%;
}

.headersize{
    height: 14rem;

}

p{
    font-size:25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
    margin:3%;
}

li{
    background-color: #ffffff;
    font-size: 20px;
}